# Sample local_env.yml configuration file. Please update the environment variables with your settings.

#GOOGLE_MAPS_KEY: 'SET FOR BOTH PROD/DEV'
#GMAIL_USERNAME: 'SET FOR DEVELOPMENT/TESTING'
#GMAIL_PASSWORD: 'SET FOR DEVELOPMENT/TESTING'
#SENDGRID_USERNAME: 'SET FOR PRODUCTION'
#SENDGRID_PASSWORD: 'SET FOR PRODUCTION'
#TWILIO_SID: 'SET FOR ALL'
#TWILIO_AUTH_TOKEN: 'SET FOR ALL'
#TWILIO_PHONE_NUMBER: 'SET FOR ALL' (begins with a "+" symbol followed by phone number beginning with 1)
