<fieldset>
  <table>
    <tr>
      <td>Name</td>
      <td><%= @route.name %></td>
    </tr>
    <tr>
      <td>Distance</td>
      <td><%= @route.distance %> miles</td>
    </tr>
  </table>
  <div id="map-show" class="dark"></div>
  
</fieldset>

<script type="text/javascript">
  var waypoints = <%= @waypoints %>;
</script>
