<fieldset>
  <legend><h3 class="subheader"><%= @route.name %></h3></legend>
  <h4 class="subheader"><%= @route.distance %> miles</h4>
  <%= link_to "Delete", remove_route_path(@route), class: 'button alert small' %>
  <div id="map-show"></div>
</fieldset>

<script type="text/javascript">
  var waypoints = <%= @waypoints %>;
</script>
