<fieldset>
  <legend><h3 class="subheader"><%= @route.name %></h3></legend>
  <h4 class="subheader"><%= @route.distance %> miles</h4>
  <div id="map-show" class="dark"></div>
</fieldset>

<script type="text/javascript">
  var waypoints = <%= @waypoints %>;
</script>
