/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */

img.circle {
  margin-top: -0.25em;
  border: 0.17em solid #8CE83B;
  vertical-align: middle;
  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
}

fieldset {
  background-color: #E6EBEA;
}

#event_pace, #hour, #minute, #ampm, #route {
  width: 70px;
  font-size: 1.05em;
  margin-bottom: 10px;
  border-radius: 0px;
}

#event_pace {
  width: auto;
}

#ampm {
  width: 100px;
}

#route {
  width: auto;
}

/*    SHOW EVENT PAGE     */

#description {
  margin-top: -32px;
  font-size: 0.9em;
}

p.show-event {
  margin: 0 0 5px 0;
}

table.show-event, table.show-location {
  background-color: #E6EBEA;
  font-size: 1.2em;
}

/*       END        */

#map-create, #map-show {
	height: 500px;
	width: 100%;
}

#map-location {
  height: 300px;
  width: 100%;
}

.info.leaflet-control {
  background-color: black;
  opacity: 0.8;
  padding: 8px;
  border-radius: 3px;
}

.leaflet-control h4 {
  margin: 0;
}

.leaflet-control span {
  font-size: 1.4em;
}
