/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */



 table a {
  color: #dff531;
 }

 table a:hover {
  color: #c9db2b;
 }



div.equal-height-wrapper {
  overflow:hidden;
}

 table {
  background-color: #362D3E;
 }

 div.equal-height-column {
  background-color: rgba(0,0,0,0.2);
  margin-bottom: -200px;
  padding-bottom: 200px;
 }

 ul.contact {
  margin-left: 2em;
  li > h5 {
    margin: 0 0 0 0;
  }
 }
 .inline-header {
  display: inline-block;
  margin-bottom: 0.25em;
 }

 div.inline-button {
  display: inline-block;
  position: relative;
  margin-left: 1em;
  top: -0.5em;
}


 div.profile-details {
  display: inline-block;
 }

 img.inline-photo {
  display: inline-block;
 }

 span#reset {
  margin: 1em;
 }

 .hero {
  text-align: center;
  h1 {
    display: inline-block;
    margin-bottom: 0;
    text-shadow: -1px 1px #272528,
                 -2px 2px #272528,
                 -3px 3px #272528;
   -webkit-transition: all 0.12s linear;
   -moz-transition:    all 0.12s linear;
   -ms-transition:     all 0.12s linear;
   -o-transition:      all 0.12s linear;
  }
  h1:hover {
    position: relative;
    top: -6px;
    right: -6px;
    text-shadow: -1px 1px #272528,
                 -2px 2px #272528,
                 -3px 3px #272528,
                 -4px 4px #272528,
                 -5px 5px #272528,
                 -6px 6px #272528;
  }

  h4 {
    margin-top: 0;
  }
 }

 div.color-top {
  display: block;
  height: .20em;
  background-color: #dff531;
 }

img.circle {
  margin-top: -0.25em;
  border: 0.25em solid #bbb;
  vertical-align: middle;
  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
  -moz-box-shadow:    2px 2px 0px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 2px 2px 0px 2px rgba(0,0,0,0.2);
  box-shadow:         2px 2px 0px 2px rgba(0,0,0,0.2);

}

div.sticky {
  -moz-box-shadow:    0px 2px 0px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 2px 0px 2px rgba(0,0,0,0.2);
  box-shadow:         0px 2px 0px 2px rgba(0,0,0,0.2);

}

img.circle.icon-face {
  border: 0.18em solid #bbb;
  -moz-box-shadow:    0px 0px 0px 0px rgba(0,0,0,0);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  box-shadow:         0px 0px 0px 0px rgba(0,0,0,0);

}

h1,h2,h3,h4,h5,h6, nav {
  text-transform: uppercase;
}

fieldset {
  background-color: #272528;
}

#event_pace, #hour, #minute, #ampm, #route {
  width: 70px;
  font-size: 1.05em;
  margin-bottom: 10px;
  border-radius: 0px;
}

#event_pace {
  width: auto;
}

#ampm {
  width: 100px;
}

#route {
  width: auto;
}

/*    SHOW EVENT PAGE     */

#description {
  margin-top: -32px;
  font-size: 0.9em;
}

#commit-toggle {
  width: 250px;
}

p.show-event {
  margin: 0 0 5px 0;
}

table.show-event, table.show-location {
  background-color: #E6EBEA;
  font-size: 1.2em;
}

/*       END        */

#map-create, #map-show, #map-location {
	height: 500px;
	width: 100%;
}

.info.leaflet-control {
  background-color: black;
  opacity: 0.8;
  padding: 8px;
  border-radius: 3px;
}

.leaflet-control h4 {
  margin: 0;
}

.leaflet-control span {
  font-size: 1.4em;
}

 body:after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(54,45,62,0.48) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(54,45,62,0.48)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(54,45,62,0.48) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(54,45,62,0.48) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(54,45,62,0.48) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(54,45,62,0.48) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a362d3e', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
};

::-moz-selection {
  background-color: #dff531;
  color: #fff;
}
 
::selection {
  background-color: #dff531;
  color: #fff;
}
